h1{
    text-align: center;
    text-shadow: 3px 3px 2px lightgoldenrodyellow;
    background-color: rgb(236, 113, 113);
    border:  aqua;
    color: black;
}
img{
    top: 0;
    width: 37px;
    height: 38px;
    float: right;
}
table{
    padding: 5;
   margin-left: auto;
   margin-right: auto;
}
h5{
   color: lightgreen;
   text-decoration: 1px line-through black dotted;
}
fieldset{
    align-self: center;
}
p{
    margin-left: auto;
    margin-left: auto;
}